astroid==2.0.4
certifi==2020.11.8
chardet==3.0.4
click==6.7
cycler==0.10.0
Flask==1.0.2
Flask-Session==0.3.1
ib-insync==0.9.30
idna==2.10
isort==4.3.4
itsdangerous==0.24
Jinja2==2.10
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
lxml==4.6.2
MarkupSafe==1.0
matplotlib==2.2.3
mccabe==0.6.1
multitasking==0.0.9
nose==1.3.7
nptyping==0.3.1
numpy==1.15.1
pandas==0.25.2
pylint==2.1.1
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
requests==2.25.0
six==1.11.0
typish==1.3.2
urllib3==1.26.2
Werkzeug==0.14.1
wrapt==1.10.11
yfinance==0.1.55
